body {
    background-color: #111111;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
}
 
.text {
    font-family: "JetBrains Mono", monospace;
    text-align: center;
}

.image img {
    width: 225px;
    border-radius: 50%;
}